{% comment %} after filling the form it will fetch your email and using that email
              it calls the semd mail function, also passes  the context with the template.

              context contains:
              context = {
                'email': user_email,
                'domain': domain,
                'site_name': site_name,
                'uid': urlsafe_base64_encode(force_bytes(user.pk)),
                'user': user,
                'token': token_generator.make_token(user),
                'protocol': 'https' if use_https else 'http',
                **(extra_email_context or {}),
            }
            using this detail we can create the url that will direct the user to the create the new password 
            for their email.
{% endcomment %}
You can use the below mentioned url to create a new password for your account

{{ protocol }}://{{ domain }}/password_reset_confirm/{{ uid }}/{{ token }}/