{% load static %}
<header class="text-gray-600 body-font bg-slate-700">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="{% url 'landing-page' %}">
        <img src="{% static 'favicon.ico' %}" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white  bg-blue-500 rounded-full" viewBox="0 0 24 24">
        <span class="ml-3 text-xl text-emerald-400">Django CRM</span>
      </a>
      {% if request.user.is_authenticated or request.user.is_agent %}
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
          {% if request.user.is_organizer %}
            <a href="{% url 'agents:agent-list' %}" class="underline decoration-sky-500 text-3xl mr-5 hover:text-sky-300 text-white">Agents</a>
          {% endif %}
          <a href="{% url 'leads:leads-list' %}" class="underline decoration-sky-500 text-3xl mr-5 hover:text-sky-300 text-white ml-2">Leads</a>
        </nav>
        <blockquote class="text-3xl font-semibold italic text-center text-green-500 ml-3 ">
          <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-sky-600 relative inline-block">
            <span class="relative text-white">Welcome</span>
          </span>
          {{ request.user.username }}
        </blockquote>
        <a href="{% url 'logout' %}" class="ml-2 inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">LogOut
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      {% else %}
        <a href="{% url 'login' %}" class="ml-3 inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Login</a>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
      {% endif %}
    </div>
  </header>